.default-color {
  background-color: #282c34;
  border-color: azure;
  color: aqua;
}

.App {
  min-height: fit-content;
}

.App-header {
  background-color: #282c34;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  padding: 0px;
  color: white;
  display: flex;
  columns: auto;
  flex-direction: row;
}

.App-button {
  font-size: calc(10px + 1vmin);
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  min-width: 150px;
  padding: 3%;
}

.App-input-row-item {
  text-align: left;
  background-color: white;
  align-items: right;
  color: black;
  margin-top: 5px;
  padding: 5px;
}

.App-input-item {
  box-sizing: border-box;
  width: 99%;
  margin: 0.5%;
  font-size: large;
  border-width: 0;
}

.rectangle {
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.App-horizontal-divider {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 1px;
  background-color: darkgrey;
  color: darkgrey;
}

.App-link {
  color: #61dafb;
}
